<!-- views/home.handlebars -->
{{#if user}}

<script src="/js/bootbox.min.js"></script>
<div class="page-header">
  <h1>Notification</h1>
</div>
{{#if infonotification}}
<div class="col-sm-offset-1">
	<h3> Notification: <b>{{infonotification.queryName}}</b></h3>
	<p><i>End point:</i> {{infonotification.queryEndpoint}} </p>
	<p><i>Query:</i> {{infonotification.query}} </p>
	<a data-toggle="collapse" href="#results" class="btn btn-default btn-md" role="button">Show result data</a>
  <div id="results" class="collapse">
    <div id="result-data"></div>
    <br>
    <div id="mapdiv" style="height: 400px; display:none;"></div>
  </div>
  <br></br>
  <p><i>Last Updated:</i> {{infonotification.lastupdated}} </p>
  <p><i>Server acked:</i> {{infonotification.ack}} </p>

  <form id="delete" action="{{infonotification._id}}/delete" method="post" style="margin-right: 5px; float: left;">
    <div>
      <button type="submit" class="btn btn-primary" value="delete"><span class="glyphicon glyphicon-trash"> Delete</button>
    </div>
  </form>
  <a data-toggle="collapse" href="#editfields" class="btn btn-default btn-md" role="button">Edit</a>
  <div id="editfields" class="collapse">
    <br></br>
    <div class="col-md-8">
      <form method="post" action="{{infonotification._id}}/edit" role="form">
        <div class="form-group">
          <label class="control-label">Query content:</label>
          <textarea type="text" rows="7" class="form-control" id="querytextfield" name="querytext">{{infonotification.query}}</textarea>
        </div>
        <br></br>
        <h4>Parameters to configure:</h4>
        <div class="form-group">
          <label class="col-sm-4 control-label">Query End-Point</label>
          <input type="text" class="form-control" id="endpointfield" name="endpoint" value="{{infonotification.queryEndpoint}}">
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <input type="text" class="form-control" id="namefield" name="name" value="{{infonotification.queryName}}">
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <input type="text" class="form-control" id="descfield" name="desc" value="{{infonotification.queryDescription}}">
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Parameters</label>
          <input type="text" class="form-control" id="paramfield" name="param">
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-default">Send & Update Notification</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{else}}
<p>No Notification</p>
{{/if}}
</div>

</div>
<script type="text/javascript">
$('#delete').submit(function(e) {
  var currentForm = this;
  e.preventDefault();
  bootbox.confirm("Are you sure?", function(result) {
    if (result) {
      currentForm.submit();
    }
  });
});

var json = {{{infonotification.lastresult}}};
var html = "<br><table border='1'>";
html += "<tr style='font-weight: bold;'>";
for (var x in json.head.vars) { 
  html += "<td>" + json.head.vars[x] + "</td>";
}
html += "</tr>";
for (var b in json.results.bindings) {
  html += "<tr>";
  for (var x in json.head.vars) { 
    var value = json.results.bindings[b][json.head.vars[x]];
    if (value.type == "uri")
      html += "<td style='word-break:break-all; min-width:150px;'><a href='"+value.value+"'>" + value.value + "</a></td>";
    else if (value.type == "typed-literal")
      html += "<td><button class='show_button' id='button_"+b+"'>Show</button></td>";
    else
      html += "<td>" + value.value + "</td>";
  }
  html += "</tr>";
}
html += "</table>";
document.getElementById("result-data").innerHTML = html;

</script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
var result_style = OpenLayers.Util.applyDefaults({ 
 strokeWidth: 3, 
 strokeColor: "#ff0000", 
 fillOpacity: 0 
}, OpenLayers.Feature.Vector.style['default']); 

var map, vectors, proj, format;
$('.show_button').on('click', function(e){
  if(!map){
    $('#mapdiv').css('display','block');
    //map creation
    map = new OpenLayers.Map("mapdiv", {
      controls: [
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.Attribution()],
      allOverlays: true
    });
    //projection
    proj = new OpenLayers.Projection("EPSG:4326");
    //baselayer
    var wms2 = new OpenLayers.Layer.OSM();
    map.addLayer(wms2);
    //vector layer
    vectors = new OpenLayers.Layer.Vector("Vector Layer");
    format = new OpenLayers.Format.WKT({
      'internalProjection': map.baseLayer.projection,
      'externalProjection': proj
    });
  }
  //clicked id
  var button_id = (e.target.id).split("_");
  //wkt string
  var wktstring = json.results.bindings[button_id[1]]['fWKT'].value;
  console.log(wktstring);
  //Parsing wktstring
  
  var feature = format.read(wktstring);

  //get bounds
  var bounds = feature.geometry.getBounds();

  vectors.addFeatures([feature]);
  map.addLayers([vectors]);
  map.zoomToExtent(bounds); 
});

</script>
{{else}}
<div class="jumbotron">
  <h1>Smart Open Data</h1>
  <h2>Dashboard</h2>
  <p>Sign in and view your profile!</p>
  <p>
    <a href="/signin" class="btn btn-primary btn-lg" role="button">
      <span class="glyphicon glyphicon-user"></span> 
      Sign in!
    </a>
  </p>
</div>

{{/if}}