<!-- views/home.handlebars -->
{{#if user}}

	<script src="/js/bootbox.min.js"></script>
  <div class="page-header">
    <h1>Notification</h1>
  </div>
  	{{#if infonotification}}
	<div class="col-sm-offset-1">
	<h3> Notification: <b>{{infonotification.queryName}}</b></h3>
	<p><i>End point:</i> {{infonotification.queryEndpoint}} </p>
	<p><i>Query:</i> {{infonotification.query}} </p>
	<a data-toggle="collapse" href="#result-data" class="btn btn-default btn-md" role="button">Show result data</a>
	<a href="#" class="btn btn-default btn-md" role="button">Display results</a>
	<div id="result-data" class="collapse">
        <p><i>Result:</i> {{infonotification.lastresult}} </p>
    </div>
	
	<br></br>
	<p><i>Last Updated:</i> {{infonotification.lastupdated}} </p>
	
	<form id="delete" action="{{infonotification._id}}/delete" method="post">
	<div>
        <button type="submit" class="btn btn-primary" value="delete"><span class="glyphicon glyphicon-trash"> Delete</button>
    </div>
	</form>
	</div>
	{{else}}
	<p>No Notification</p>
	{{/if}}
    </div>
	
  </div>
  <script type="text/javascript">
    $('#delete').submit(function(e) {
        var currentForm = this;
        e.preventDefault();
        bootbox.confirm("Are you sure?", function(result) {
            if (result) {
                currentForm.submit();
            }
        });
    });
</script>
	{{else}}
  <div class="jumbotron">
    <h1>Smart Open Data</h1>
	<h2>Dashboard</h2>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
  
{{/if}}